window-rule {
    match app-id=r#"^kitty$"#
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id="Microsoft Edge"
    // Opens Edge as a floating window (if you prefer, otherwise leave it empty to tile)
    // open-floating true 
}

window-rule {
    match app-id="microsoft-edge"
    // Prevents floating extension/settings pop-ups from trapping outside your screen
    open-floating true
}
